/* Reset de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para el encabezado */
header {
    width: 100%;
    height: 200px;
    background-image: url('encabezado.jpg'); /* Imagen de fondo para el encabezado */
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 3rem;
}

/* Cuerpo principal */
.main-content {
    display: flex;
    width: 100%;
    height: calc(100vh - 200px); /* Resta la altura del encabezado */
}

/* Barra lateral */
.sidebar {
    width: 200px;
    background-color: blue;
    color: white;
    padding: 20px;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin-bottom: 20px;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    background-color: #0909d8;
    border-radius: 5px;
    text-align: center;
}

.sidebar ul li a:hover {
    background-color: black; /* Cambia a negro al pasar el ratón */
}

/* Cuerpo principal */
.main-body {
    flex-grow: 1;
    background-color: black;
    color: white;
    padding: 20px;
    
}

/* Links */
a:link {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}
  
a:visited {
    color: lightblue;
    background-color: transparent;
    text-decoration: none;
}
  
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

/* Pie de página */
footer {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
}

footer p {
    font-size: 1rem;
}
